<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Thinkr - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  {% include '_nav.html' %}
  <div class="content-container">
    {% block content %}
    {% endblock %}
  </div>
  {% block scripts %}
  {% endblock %}
</body>
</html>
